@mixin breakpoint($value) {
  @if $value == "phone" {
    @media only screen and (min-width: 120px) and (max-width: 767px) {
      @content;
    }
  } @else if $value == "tablet" {
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      @content;
    }
  } @else if $value == "touch" {
    @media only screen and (min-width: 120px) and (max-width: 1024px) {
      @content;
    }
  } @else if $value == "desktop" {
    @media only screen and (min-width: 1025px) {
      @content;
    }
  } @else {
    @media only screen and (max-width: $value) {
      @content;
    }
  }
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 60px;
}

////// colors brand //////
$black: #1d1c1e;
$orange: #e7816b;
$white: #fff;

/////// buttons colors //////
$btnHover: #ffad9b;
$lightHover: #f89079;
///// transition //////
$dur: 0.3s;
$halfs: 0.5s;
$ease: ease;

/////// fontweight //////

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

/////// container desktop //////

.wrap {
  max-width: 1111px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  @include breakpoint(tablet) {
    padding: 0;
  }
  @include breakpoint(phone) {
    padding: 0;
  }
}

//// screen reader only///
.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

@mixin flexDirWrap($direction, $wrap) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin flexCenter($direct, $wrapme) {
  display: flex;
  flex-direction: $direct;
  flex-wrap: $wrapme;
  align-content: center;
  justify-content: center;
}
/////// buttons ///////

button {
  border: none;
  background: none;
  height: 200px;
  transition: 0.3s ease;
  &:hover {
    cursor: pointer;
    background-color: $btnHover;
    transform: scale(1.05);
    transition: 0.3s ease;
  }

  &:active {
    transform: scale(0.95);
    transition: 0.3s ease;
  }
}

.has-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
