@import "../../../../styles/component.scss";

.hero {
    padding-bottom: 160px;
    @include breakpoint(touch) {
        .wrap {
            padding: 0;
        }
        overflow: hidden;
        padding-bottom: 50px;
    }
}

.hero__container {
    background-color: $orange;
    height: 640px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    @include breakpoint(touch) {
        flex-direction: column;
        padding: 100px 0 0 0;
        height: initial;
        justify-content: center;
        align-items: center;
        border-radius: 0;
    }
}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 90px;
    color: $white;
    flex-grow: 1;
    @include breakpoint(touch) {
        max-width: 500px;
        height: initial;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        text-align: center;
    }
}

.hero__title {
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    padding-bottom: 10px;
    @include breakpoint(touch) {
        font-size: 32px;
        line-height: 36px;
        width: 100%;
        max-width: 20ch;
    }
}

.hero__text {
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: $white;
    padding-bottom: 40px;
    @include breakpoint(touch) {
        font-size: 16px;
        line-height: 26px;
        width: 100%;
        max-width: 34ch;
    }
}

.hero__button {
    background: $white;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 8px;
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    width: 152px;
    height: 56px;
    border: none;
    transition: 0.3s ease-in-out;
    transition-property: color, background-color;
    &:hover {
        transition: 0.3s ease;
        background: $btnHover;
        color: $white;
        transform: scale(1.09);
    }
    &:active {
        transition: all 0.3s ease;

        transform: scale(0.9);
    }
}

.hero__image-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.hero__image-container {
    @include breakpoint(touch){
        overflow: hidden;
    }
}

.hero__image-container::after {
    content: url("/src/assets/home/desktop/bg-pattern-hero-home.svg");
    z-index: 1;
    position: absolute;
    top: 0;
    right: 25px;
    @include breakpoint(touch){
        left: 50%;
        top: 5%;
    }
}

.hero__image {
    z-index: 2;
    @include breakpoint(touch){
        position: relative;
        margin-bottom: -50%;
        margin-top: -10%;
    }
}
