@import '../../../../styles/component.scss';
.offers {
    padding-bottom: 200px;
    @include breakpoint(touch){
        padding-bottom: 100px;
    }
}

.offers__container {
    display: grid;
    grid-template-columns:1fr, 1fr;
    grid-template-rows: 1fr, 1fr;
    gap: 24px;
    @include breakpoint(touch){
        grid-template-columns:1fr;
        grid-template-rows: 1fr;
    }
}