@import "../styles/component.scss";

.footer {
    background-color: $black;
}

.footer__container {
    padding: 144px 0 72px 0;
}

.footer__top {
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    @include breakpoint(touch) {
        flex-direction: column;
        align-items: center;
        padding-bottom: 0;
    }
}

.footer__nav {
    width: 100%;
    max-width: 450px;
    display: flex;
    @include breakpoint(touch) {
        flex-direction: column;
        padding-top: 20px;
    }
}

.footer__logo-image {
    max-width: 196px;
    @include breakpoint(touch) {
        padding: 20px 0 50px 0;
    }
}

.footer__top-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    @include breakpoint(touch) {
        flex-direction: column;
        gap: 20px;
    }
}

.footer__top-link {
    text-decoration: none;
    color: $white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    &:hover {
        text-decoration: underline;
        transition: 0.3s ease-in-out;
    }
}

.footer__splitter {
    opacity: 0.5;
    @include breakpoint(touch){
        display: none;
    }
}

.footer__bottom {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    @include breakpoint(touch) {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.footer__bottom-list {
    color: $white;
    opacity: 0.5;
    font-size: 16px;
}

.footer__bottom-item {
    line-height: 26px;
}

.footer__contact {
    margin-right: 20%;
    @include breakpoint(touch) {
        margin-right: 0;
    }
}

.footer__social {
    display: flex;
    gap: 16px;
    @include breakpoint(touch) {
        padding-top: 30px;
    }
}

.footer__icon {
    width: 24px;
    height: 24px;
}

