@import "../styles/component.scss";

.footer {
    background-color: $black;
}

.footer__container {
    padding: 144px 0 72px 0;
}

.footer__top {
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.footer__nav{
    width: 100%;
    max-width: 450px;
    display: flex;
}

.footer__logo-image{
    max-width: 196px;
}

.footer__top-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.footer__top-link {
    text-decoration: none;
    color: $white;
}

.footer__splitter {
    opacity: 0.5;
}

.footer__bottom {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}

.footer__bottom-list {
    color: $white;
    opacity: 0.5;
    font-size: 16px;
}

.footer__bottom-item {
    line-height: 26px;
}

.footer__contact {
    margin-right: 20%;
}

.footer__social {
    display: flex;
    gap: 16px;
}

.footer__icon {
    width: 24px;
    height: 24px;
}

// gap 16 px icons

// 24 x 24